.DS_Store
.AppleDouble
.LSOverride
iisnode.yml

# Thumbnails 
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
node_modules/
bower_components/
db/
client/lib

# node
node_modules
npm-debug.log

# api keys
APIs/keys

# bower
bower_components
