body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
#startInput{
  width: 400px;
  height: 20px;
  margin: 5px;
}
#endInput {
  width: 395px;
  height: 20px;
  margin: 5px;
}
.simple-form {
  padding: 10px;
  margin: 10px;
}

a {
  color: #00B7FF;
}

html, body, #map-canvas {
  height: 400px;
  width: 500px;
  margin: 0;
  padding: 0;
}

#map-canvas{
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}

.insta-pics{
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.route{
  padding: 10px;
  margin-left: 7%;
}
.form-group{
  width: 150%;
}

.methods{
  margin-left: 30px;
}

input{
   text-align:center;
}

body {
  background-image: url(../Assets/InstaView_v4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.insta-feed{
  float: left;
  width: 170px;
  text-align: left;
  margin: 5px 60px;
  display: inline;
  font-size: 22px
}

.home-button {
  float: left;
  text-align: left;
  margin: 2px 00px;
  display: inline;
}

.map-title {
  float: left;
  text-align: left;
  margin: 5px 270px;
  display: inline;
  font-size: 22px
}

.nav-bar{
  /*overflow: auto;
  width: 100%;*/
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  background-color: #009fff;
}

.team{
    position:absolute;
    bottom:0px;
    right:25%;
    left:40%;
    margin-left:-150px;
    color: black
}

.ngsb-wrap {
  -ms-touch-action: none;
}
.ngsb-wrap .ngsb-container {
  width: auto;
  overflow: hidden;
  transition: 0.5s all;
}
.ngsb-wrap:hover .ngsb-scrollbar {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar {
  width: 25px;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}
.ngsb-wrap .ngsb-scrollbar a.ngsb-thumb-container {
  margin: 20px 0;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-track {
  height: 100%;
  margin: 0 auto;
  width: 16px;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos {
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
  transition: 0.5s all;
  width: 14px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb {
  background: rgba(255, 255, 255, 0.5);
  filter: "alpha(opacity=50)";
  -ms-filter: "alpha(opacity=50)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: rgba(255, 255, 255, 0.6);
  filter: "alpha(opacity=60)";
  -ms-filter: "alpha(opacity=60)";
  /* old ie */
}
.scrollme {
  max-height: 650px;
}
