body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
#startInput{
  width: 400px;
  height: 20px;
  margin: 5px;
}
#endInput {
  width: 395px;
  height: 20px;
  margin: 5px;
}
.simple-form {
  padding: 10px;
  margin: 10px;
}

a {
  color: #00B7FF;
}

html, body, #map-canvas {
  height: 400px;
  width:500px;
  margin: 0;
  padding: 0;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.route{
  padding: 10px;
  margin-left: 28%;
}

input{
   text-align:center;
}