  <form novalidate class="simple-form center form-horizontal">
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control start"  ng-autocomplete id="start" ng-model="start" options='options' placeholder="Start Location" required/>  
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control end" ng-autocomplete id="end" ng-model="end" options='options' placeholder="End Location" required/>  
      </div>
    </div>
    <!-- Method buttons -->
    <div class="btn-group methods" data-toggle="buttons">
      <label class='btn btn-primary'>
        <input type="radio" ng-model="method" value="WALKING">Walk</input>
      </label>
      <label class='btn btn-primary'>
        <input type="radio" ng-model="method" value="DRIVING">Drive</input>
      </label>
      <label class='btn btn-primary'>
        <input type="radio" ng-model="method" value="BICYCLING">Bike</input>
      </label>
      <label class='btn btn-primary'>
        <input type="radio" ng-model="method" value="TRANSIT">Transit</input>
      </label>
      <div ng-show="method" id='methodtext'>
        Method Selected: {{ method }}
      </div>
    </div>

    <div class="route">
        <button type="submit" class:"route btn btn-default" ng-click="setScope(start, end, method)" ui-sref="display">Get Kraken</button>    
    </div>
  </form>
  <div class="team"><img src="../assets/KrakenLogo.png" width="30px" height="auto"></br>Team Kraken</div>
