<div>
  <form novalidate class="simple-form">
    Start: <input type="text" id='startInput' ng-autocomplete ng-model="start" options='options' details='details' placeholder="Start location" required/><br />
    End: <input type="text" id='endInput' ng-autocomplete ng-model="end" options='options' details='details' placeholder="End location" required/><br />
    Method: <input type="radio" ng-model="method" value="WALKING" /> Walk
    <input type="radio" ng-model="method" value="DRIVING" />Drive
    <input type="radio" ng-model="method" value="BICYCLING" />Bicycle
    <input type="radio" ng-model="method" value="TRANSIT" /> Public Transit
    <br />
    {{start}}
    {{end}}
    {{ method}}
    <!-- <input type="submit" value="Create InstaTrip" ui-sref="display" /> -->
    <button ng-click="getmap(start,end,method)">Create Instatrip</button>
    <div id="map-canvas"></div>

  </form>

</div>